@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- ヘッダー追加部品 -->
@section AdditionalHeader{
    <div class="container">
        <!-- タイトル -->
        <div class="row align-items-center">
            <!-- 作成ボタン -->
            <div class="col-2 text-center">
                <a asp-page="/ToDoEditor" class="btn btn-primary">作成</a>
            </div>
            <div class="col-5">タスク名</div>
            <div class="col">締切日</div>
            <!-- フィルタリスト -->
            <div class="d-flex justify-content-end">
                <form method="get" class="input-group w-auto">
                    <span class="input-group-text">
                        フィルター：</span>
                    <select name="filterNumber" class="form-select" onchange="this.form.submit()">

                        <option value="Continue">未完了</option>
                        <option value="Complete">完了</option>
                        <option value="All">すべて</option>

                    </select>
                </form>
            </div>
        </div>
    </div>
}

<!-- Style -->
@section Styles {
    <style>
        .return-button {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0.3s;

            &.active {
                opacity: 1;
                visibility: visible;
            }
        }

        .overlay{
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 2000;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.4s ease;

            &.active {
                opacity: 1;
                visibility: visible;
            }
        }

        .detail-menu {
            position: fixed;
            top: 0;
            right: 0;
            width: 35vw;
            height: 100vh;
            z-index: 3000;
            background-color: #ffffff;
            box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
            padding: 20px;
            box-sizing: border-box;
            overflow-y: auto;

            visibility: hidden;
            transform: translateX(100%);

            transition: transform 0.3s ease, visibility 0.3s;

            &.active {
                visibility: visible;
                animation: slideInRight 0.3s forwards ease-out;
            }
        }

        .priority-1{
            background-color: red;
        }
        .priority-2 {
            background-color: orange;
        }

        .priority-3 {
            background-color: royalblue;
        }

        @@keyframes slideInRight {
            from {
                transform: translateX(100%);
            }

            to {
                transform: translateX(0);
            }
        }

    </style>
}


<!-- JavaScript -->
@section Scripts {
    <script>
        const overlay = document.getElementById("overlay");
        const detailMenu = document.getElementById("detail-menu");

        let targetTaskId; // 削除や編集を行う対象タスク

        // 1.クリック時の処理
        document.addEventListener("click", (e) => {

            // ボタンだった時はスキップ
            if (e.target.closest('[data-without="true"]')) {
                return;
            }

            // [data-id]属性をもっていれば処理
            const targetTask = e.target.closest('[data-id]');
            if (targetTask){
                targetTaskId = targetTask.getAttribute("data-id");



                // const data = {
                //     priorityId: targetTask.dataset.priorityId,
                //     taskName: targetTask.dataset.taskName,
                //     deadlineAt: targetTask.dataset.deadlineAt,
                //     contentText: targetTask.dataset.contentText
                // };



                overlay.classList.add("active"); // 暗転
                detailMenu.classList.add("active"); // 詳細メニュー表示

                setDetailMenu(targetTaskId);// 詳細メニューの値設定
                return;
            }

            // 削除ボタンが押されたら
            const deleteBtn = e.target.closest('#menu-delete-btn');
            if (deleteBtn){
                const deleteForm = document.getElementById('delete-form');

                // ハンドラーとIDを指定するURLクエリを追加
                deleteForm.action = `?handler=delete&id=${targetTaskId}`;

                // submit
                deleteForm.submit();
            }
            
            // 右クリックメニュー以外がクリックされたら
            if (!e.target.closest('#detail-menu')){
                overlay.classList.remove("active"); // 暗転解除
                detailMenu.classList.remove("active"); // 詳細メニュー解除
                return;
            }

        });

        // 2.詳細メニューの値設定
        const setDetailMenu = (id) => {
            targetTaskId.textContent = id;



            const editBtn = document.getElementById('edit-btn');

            const currentHref = editBtn.getAttribute('href');

            console.log(currentHref);
            console.log('test');

            editBtn.href = currentHref+'/'+id; 
        };

        // 3.TOPへ戻る
        // A.表示切替
        document.addEventListener("scroll",()=>{
            const scrollY = window.scrollY || document.documentElement.scrollTop;

            document.getElementById("return-button").classList.toggle("active", scrollY > 100);
        }, { passive: true });
        // B.滑らか移動
        document.getElementById("scroll-to-top").addEventListener("click", (e) => {
            e.preventDefault();

            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        });

        // const filters = @Model.FilterList

        const selectedId = @Model.SelectedId


    </script>
}

<!-- 本体 -->
<div class="container">
    <!-- タスクリスト本体 -->
    <div class="row">
        @foreach (var item in Model.TaskList)
        {
            //PriorityIdを元にCSSクラス名（priority-1など）を作っている
            var priorityClass = $"priority-{item.PriorityId}";
            <!-- タスク1件 -->
            <div class="col-12 d-flex gap-3">
                <!-- 警告表示 -->
                <div class="">
                    <span style="font-size:3rem;">&#x26A0;&#xFE0F;</span>
                </div>
                <!-- タスク本体 -->
                <div data-id="@item.TaskId" class="flex-fill border rounded-3 p-4 mb-3 @priorityClass">
                    <div class="container align-items-center">
                        <div class="row">
                            <form method="post" asp-page-handler="Complete" class="col-1">
                                <input type="hidden" name="IsCompleted" value="false" />

                                <input type="checkbox"
                                       name="IsCompleted"
                                       value="true"
                                       class="form-check-input"
                                       onchange="this.form.submit()" />
                            </form>
                            <div class="col">@item.TaskName</div>
                            @item.TaskName
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>    
</div>

<!-- 暗転オブジェクト -->
<div id="overlay" class="overlay"></div>

<!-- 右表示メニュー -->
<div id="detail-menu" class="detail-menu">

    <div id="target-id"></div>
    <div data-id="priorityId"></div>
    <div data-id="taskName"></div>
    <div data-id="deadlineAt"></div>
    <div data-id="contentText"></div>
    <div></div>

    <div class="col-2 text-center d-flex gap-3">
        <!-- 更新ボタン -->
        <div>
            <a asp-page="/ToDoEditor" id="edit-btn" class="btn btn-primary">編集</a>
        </div>
        <!-- 削除ボタン -->
        <form method="post" id="delete-form">
            <button type="button" id="menu-delete-btn" class="btn btn-outline-danger">削除</button>
        </form>
    </div>


</div>

<!-- フロートボタン -->
<div id="return-button" class="return-button position-fixed" style="left:30px; bottom:15px; z-index: 1050;">
    <div class="">
        <button id="scroll-to-top" class="btn btn-primary">TOPに戻る</button>
    </div>
</div>

