@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Style -->
@section Styles {
    <style>
        .completed-task {
            background-color: var(--bs-tertiary-color);
            color: var(--bs-secondary-color);
            border: 2px solid var(--bs-border-color);
        }

        .priority-1 {
            background-color: var(--bs-danger-bg-subtle);
            color: var(--bs-danger-text-emphasis);
            border: 2px solid var(--bs-danger-border-subtle);


        }

        .priority-2 {
            background-color: var(--bs-warning-bg-subtle);
            color: var(--bs-warning-text-emphasis);
            border: 2px solid var(--bs-warning-border-subtle);
        }

        .priority-3 {
            background-color: var( --bs-success-bg-subtle);
            color: var(--bs-success-text-emphasis);
            border: 2px solid var(--bs-success-border-subtle);
        }

        .custom-strike {
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 70px;
                right: 0;
                height: 0;
                border-top: 2px solid var(--bs-tertiary-color);
                transform: translateY(-3.5rem);
            }
        }

        .return-button {
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s, visibility 0.3s;

            &.active {
                opacity: 1;
                visibility: visible;
            }
        }

        .overlay{
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 2000;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.4s ease;

            &.active {
                opacity: 1;
                visibility: visible;
            }
        }

        .btn-complete{
            width: 2rem;
            height: 2rem;
        }

        .detail-menu {
            position: fixed;
            top: 0;
            right: 0;
            width: 100vw;
            height: 100vh;
            z-index: 3000;
            background-color: #ffffff;
            box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
            padding: 20px;
            box-sizing: border-box;
            overflow-y: auto;

            visibility: hidden;
            transform: translateX(100%);

            transition: transform 0.3s ease, visibility 0.3s;

            &.active {
                visibility: visible;
                animation: slideInRight 0.3s forwards ease-out;
            }
        }

        @@keyframes slideInRight {
            from {
                transform: translateX(100%);
            }

            to {
                transform: translateX(0);
            }
        }

        @@media(min-width:576px) {
            .custom-strike::before {
                left: 75px;
            }
        }

        @@media(min-width:768px) {
            .custom-strike::before {
                left: 50px;
            }
        }

        @@media(min-width:992px) {
            .custom-strike::before {
                left: 70px;
            }

            .detail-menu {
                width: 75vw;
            }
        }

        @@media(min-width:1200px) {
            .custom-strike::before {
                left: 85px;
            }

            .detail-menu {
                width: 60vw;
            }
        }

        @@media(min-width:1400px) {
            .custom-strike::before {
                left: 100px;
            }

            .detail-menu {
                width: 45vw;
            }
        }

    </style>
}


<!-- JavaScript -->
@section Scripts {
    <script>
        // ページ内の要素
        const overlay = document.getElementById("overlay");
        const detailMenu = document.getElementById("detail-menu");

        // 詳細メニューの要素
        const editBtn = document.getElementById('edit-btn');        // 編集ボタン
        const deleteForm = document.getElementById('delete-form');  // 削除ボタンのフォーム
        const deleteBtn = document.getElementById('delete-btn');  // 削除ボタン
        const taskName = document.getElementById("task-name");       // 詳細：タスク名
        const priorityName = document.getElementById("priority-name");   // 詳細：優先度名称
        const deadlineAt = document.getElementById("deadline-at");   // 詳細：期限
        const contentText = document.getElementById("content-text"); // 詳細：詳細内容

        // C#のPriorityListをJSで使える形(JSON)に変換して埋め込む
        const priorities = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.PriorityList));

        // 1.クリック時の処理
        document.addEventListener("click", (e) => {
            // click-withoutだった時はスキップ
            if (e.target.closest('[click-without]')) {
                return;
            }

            // 削除ボタンが押されたら
            const clickedDeleteBtn = e.target.closest('#delete-btn');
            if (clickedDeleteBtn){
                // idを取得する
                const id = clickedDeleteBtn.dataset.targetId;
                // クエリの設定
                deleteForm.action = `?handler=delete&id=${id}`;
                // submit
                deleteForm.submit();
                // ページ遷移して終了
                return;
            }

            // [data-id]属性をもっていれば処理
            const clickedTask = e.target.closest('[data-id]');
            if (clickedTask){
                const targetTaskId = clickedTask.getAttribute("data-id"); // クリックされたIDを取得する

                overlay.classList.add("active"); // 暗転
                detailMenu.classList.add("active"); // 詳細メニュー表示

                setDetailMenu(targetTaskId);// 詳細メニューを設定する
                return;
            }
            
            // 右クリックメニュー以外または、閉じるボタンがクリックされたら
            if (!e.target.closest('#detail-menu') || e.target.closest('#close-btn')){
                overlay.classList.remove("active"); // 暗転解除
                detailMenu.classList.remove("active"); // 詳細メニュー解除
                return;
            }

        });

        // 2.詳細メニューの準備
        const setDetailMenu = (id) => {            
            // タスクの取得
            const taskList = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.TaskList));
            const targetTask = taskList.find(task => task.TaskId == id); // 対象タスク

            // タスク不正として処理
            if(!targetTask) {
                console.error("指定されたタスクが見つかりません。ID:", id);
                return;
            }

            // 編集ボタンにidをセットする
            editBtn.href = '/edit/' + id; 

            // 削除ボタンにidをセットする
            deleteBtn.dataset.targetId = id;
            
            // data-priorityidの値を取得
            // Numberで数値に変換
            const priorityId = targetTask.PriorityId;
            
            // priorities配列から該当するデータを検索
            const tempName = priorities.find(x => x.PriorityId === priorityId);
            
            // priority?.PriorityNamepriority   が undefined でもエラーにならない
            // ?? "不明"      PriorityName が無い or undefined の場合は "不明" を表示
            priorityName.textContent = '優先度：' + tempName?.PriorityName ?? "不明";

            // 詳細メニュー項目の色情報を消す
            priorityName.classList.remove(
                "bg-danger","text-white",
                "bg-warning","text-dark",
                "bg-success",
            );

            // 詳細メニュー項目の色情報を消す
            switch (priorityId) {
                case 1:
                    priorityName.classList.add("bg-danger","text-white");
                    break;
                case 2:
                    priorityName.classList.add("bg-warning","text-dark");
                    break;
                case 3:
                    priorityName.classList.add("bg-success","text-white");
                    break;
            }

            // 値を設定する
            taskName.textContent = targetTask.TaskName;
            deadlineAt.textContent = new Date(targetTask.DeadlineAt).toLocaleDateString();
            contentText.textContent = targetTask.ContentText;
        };


        // 3.TOPへ戻る
        // A.表示切替
        document.addEventListener("scroll",()=>{
            const scrollY = window.scrollY || document.documentElement.scrollTop;

            document.getElementById("return-button").classList.toggle("active", scrollY > 100);
        }, { passive: true });
        // B.滑らか移動
        document.getElementById("scroll-to-top").addEventListener("click", (e) => {
            e.preventDefault();

            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        });
    </script>
}

<!-- ヘッダーパーツ -->
@section AdditionalHeader {
    <!-- タスクリスト項目名 -->
    <div class="d-flex align-items-center">
        <!-- 作成ボタン -->
        <div class="col-2 col-md-1 d-inline-block">
            <a asp-page="/ToDoEditor" class="btn btn-primary">作成</a>
        </div>
        <!-- タスク名 -->
        <div class="col-7 col-md-6 d-inline-block fw-bold">タスク名</div>
        <!-- 期限 -->
        <div class="col-2 d-inline-block fw-bold">期限</div>
        <!-- フィルター -->
        <div class="col d-inline-block">
            <form method="get" class="input-group w-auto flex-nowrap">
                <label class="input-group-text d-none d-lg-inline-block">表示</label>
                <select asp-for="SelectedFilter" asp-items="@Model.FilterList" class="form-select" onchange="this.form.submit()"></select>
            </form>
        </div>
    </div>
}

<!-- アプリ本体 -->
<div class="container">
    @foreach (var item in Model.TaskList)
    {
        // 各種クラス名
        string taskColor = ""; // タスクの色
        string activeMark = ""; // ディレイ表示
        string activeBorder = ""; // 取り消し線表示
        // 完了しているか？
        bool isCompleted = @item.CompletedAt is not null;
        if (isCompleted)
        {
            // 完了色に変える
            taskColor = "completed-task";
            // ディレイを消す
            activeMark = "invisible";
            // 斜線を表示する
            activeBorder = "d-block";
        }
        else
        {
            // 斜線を消す
            activeBorder = "d-none";
            //PriorityIdを元にCSSクラス名（priority-1など）を作っている
            taskColor = $"priority-{item.PriorityId}";
            // 本日の日付を超えているか？超えていればディレイマークを付ける
            var isDelay = item.DeadlineAt.Date < DateTime.Today.Date;
            activeMark = isDelay ? "" : "invisible";
        }

        <!-- タスク1件 -->
        <div class="row">
            <div class="d-flex align-items-center shadow border rounded-3 py-2 mb-3 @taskColor" data-id="@item.TaskId">
                <!-- チェックボタン -->
                <form method="post" asp-page-handler="Complete" asp-route-id="@item.TaskId" class="col-2 col-md-1 d-inline-block text-center">
                    <input type="hidden" asp-for="SelectedFilter" />
                    <input type="checkbox" checked="@isCompleted" onchange="this.form.submit()" click-without class="btn-complete" />
                </form>
                <!-- タスク名 -->
                <div class="col-6 col-md-5 fw-bold">@item.TaskName</div>
                <!-- 警告表示 -->
                <div class="col-1 d-inline-block text-end">
                    <span class="@activeMark" style="font-size:2.5rem; letter-spacing:0.5rem;">&#x26A0;&#xFE0F;</span>
                </div>
                <!-- 期限 -->
                <div class="col fw-bold">@item.DeadlineAt.ToString("yyyy/MM/dd")</div>
            </div>
        </div>

        <!-- 取り消し線（完了時） -->
        <span class="custom-strike position-relative align-baseline @activeBorder"></span>
    }  
</div>

<!-- 暗転オブジェクト -->
<div id="overlay" class="overlay"></div>

<!-- 右表示メニュー -->
<div id="detail-menu" class="container detail-menu">
    <!-- タイトル表示と優先度 -->
    <div class="row mx-2 mb-3">
        <!-- タイトル -->
        <div class="col d-inline-block h3">タスクの詳細</div>
        <!-- 優先度表示 -->
        <div class="col-4 text-center priority-box">
            <div id="priority-name" class="d-inline-block form-control"></div>
        </div>
        <!-- 閉じるボタン -->
        <div class="col-2 text-center">
            <button type="button" id="close-btn" class="btn btn-light d-inline-block">&#x00D7;</button>
        </div>
    </div>
    <!-- タスク名 -->
    <div class="row mx-2 mb-3">
        <label class="form-label fw-bold">タスク名:</label>
        <div id="task-name" class="form-control"></div>
    </div>
    <!-- 期限 -->
    <div class="row mx-2 mb-3">
        <label class="form-label fw-bold">期限:</label>
        <div id="deadline-at" class="form-control"></div>
    </div>
    <!-- 詳細内容 -->
    <div class="row mx-2 mb-3">
        <label class="form-label fw-bold">詳細内容:</label>
        <div id="content-text" class="form-control" style="min-height:200px;"></div>
    </div>
    <!-- ボタン類 -->
    <div class="row mx-2 d-flex text-center">
        <!-- 更新ボタン -->
        <div class="col-6">
            <!-- Bootstrapの改行防止クラス text-nowrapを追加 -->
            <a href="#" id="edit-btn" class="btn btn-primary text-nowrap">編集</a>
        </div>
        <!-- 削除ボタン（ms-auto を追加して右寄せ） -->
        <form method="post" id="delete-form" class="col ms-auto">
            <button type="button" id="delete-btn" data-target-id="" class="btn btn-outline-danger text-nowrap">削除</button>
        </form>
    </div>


</div>

<!-- フロートボタン -->
<div id="return-button" class="return-button position-fixed" style="left:30px; bottom:15px; z-index: 1050;">
    <div class="">
        <button id="scroll-to-top" class="btn btn-primary">TOPに戻る</button>
    </div>
</div>

